backend/src/main/resources/application.properties
.env
.env.local

backend/target/
frontend/node_modules/
frontend/build/
ml-service/__pycache__/
ml-service/*.pyc
#ml-service/model.pkl

*.tmp
temp_*.wav
raw_*.tmp

.vscode/
.idea/
.DS_Store

*.log
*.db
*.sqlite